<p-card>
    <p-header><h1>Batch Search</h1></p-header>
    <form [formGroup]="searchForm">
        <p-table [value]="searchLinesArray.controls" [columns]="cols">
            <ng-template pTemplate="header">
                <tr>
                    <th>Field</th>
                    <th>Operator</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-searchLine>
                <tr [formGroupName]="searchLine">
                    <td>
                        <p-dropdown formControlName="field" [options]="fieldOptions"></p-dropdown>
                    </td>
                    <td>
                        <p-dropdown formControlName="operator" [options]="operatorOptions"></p-dropdown>
                    </td>
                    <td><input type="text" formControlName="value"></td>
                    <td>
                        <button pButton type="button" icon="pi pi-minus"
                                (click)="removeSearchLine(searchLine)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <button pButton type="button" icon="pi pi-plus" (click)="addSearchLine()"></button>
        <button pButton type="submit" [disabled]="searchForm?.invalid">Search</button>
    </form>
</p-card>
